body {
  background-color: rgb(20, 20, 20);
  margin: 0;
}

#menu {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 48rem);
  position: relative;
  z-index: 2;
}

#menu[data-active-index='0'] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index='1'] > #menu-background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index='2'] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index='3'] > #menu-background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index='0'] > #menu-background-image {
  background-position: center 45%;
}
#menu[data-active-index='1'] > #menu-background-image {
  background-position: center 50%;
}
#menu[data-active-index='2'] > #menu-background-image {
  background-position: center 55%;
}
#menu[data-active-index='3'] > #menu-background-image {
  background-position: center 60%;
}

#menu-background-image {
  height: 100%;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1480796927426-f609979314bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2300&q=80');
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-position: center;
  background-size: 110vmax;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  opacity: 0.15;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 6vw, 6rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
}

#newSearch{
  background:none;
  border:none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(2rem, 6vw, 6rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  cursor: pointer;
  text-decoration: none;
}

#searchField{
  background-color: rgba(20, 20, 20, 0);
  border:none;
  outline:none;
  text-decoration:none;
  color:white;
  font-size: clamp(2rem, 6vw, 6rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}

/* 
.profile {
  z-index: 4;
} */
